-r requirements.txt
ruff==0.6.9
mypy==1.11.2
pytest==9.0.3
pytest-mock==3.14.0
moto[athena,glue,s3,ssm]==5.0.16
boto3-stubs[athena,glue,s3,ssm]==1.35.0
pandas-stubs==2.2.3.241009
types-tabulate==0.9.0.20240106
